<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-10 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form">
                    <h1 class="display-4 py-2 text-truncate">{{Option}}</h1>
                    <div class="px-4">
                        <form action="" class="justify-content-center"  [formGroup]="browserForm" (ngSubmit)="Create()">
  
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="idLocation">Ubicación</label>
                                <select  formControlName="idLocation"  [class]="isValidField('idLocation')" class="form-control" id="idLocation">
                                  <option value="">Seleccionar la ubicación</option>
                                  <option value="{{list.id}}" *ngFor ="let list of lists"  name="idLocation">{{list.name}}</option>
                                </select>
                                <div class="invalid-feedback">
                                  <span *ngIf="browserForm.get('idLocation').errors?.required">
                                      Debe seleccionar la ubicación
                                  </span>
                                </div>
                              </div>

                              <div class="form-group col-md-6">
                                <label for="inputnrohanger">Nro. perchas</label>
                                <input type="text" class="form-control" id="inputnrohanger"  placeholder="Nro. perchas" name="nrohanger"
                                formControlName="nrohanger"  [class]="isValidField('nrohanger')">
                                <div class="invalid-feedback">
                                  <span *ngIf="browserForm.get('nrohanger').errors?.required">
                                      Debe ingresar el nro. de perchas
                                  </span>
                                </div>
                              </div>                           

                            </div>  
                            <div class="form-row">                             
                                <div class="form-group col-md-12">
                                    <label for="inputdescription">description</label>
                                    <textarea type="text" rows="6" class="form-control" id="inputdescription" placeholder="Descripción" name="phone"
                                    formControlName="description" ></textarea>                               
                                </div>
                            </div>
  
                            <div class="float-right mb-3">
                              <button [routerLink]="['/Hanger']" class="btn btn-primary mr-3">Cancelar</button>
                              <button type="submit" class="btn btn-primary">{{OptionBtn == false ? "Guardar" : "Actualizar"}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  

